<h1>Вопросы</h1>



<% @quest.each do |q| %>
    <% @q = q %>
        <div class="border-left padding-left">
            <h4><%= q.header %></h4>
            <p><%= q.text %></p>
         <%= render 'answer/index', object: @q  %>
        </div>
<% end %>
<%= link_to 'Создать вопрос', question_new_path, class: 'non_decoration'%>