<%= render 'answer/show', object: @q %>
<div class="visible_answer" id="visible_answer_<%= @q.id %>">
  <%= render 'answer/form_new', object: @q %>
</div>
<a onclick="OnClickAnswerDisplay('visible_answer_<%= @q.id %>')" id="answer_give">Дать ответ</a>
