<div class='answer'>
  <% @q.answers.each do |ans| %>
    <p>
      <%= ans.text %>
    </p>
          <% @ans = ans %>
    <%= render 'correction/index', object: @ans %>
    <p onclick="OnClickСorrection('visible_correction_<%= ans.id %>')">Коррекция ответа</p>
<% end %>
</div>
