<div class='answer border-left'>
  <% @q.answers.each do |ans| %>
    <p class="padding-left">
      <%= ans.text %>
    </p>
          <% @ans = ans %>
    <%= render 'correction/index', object: @ans %>
    <a class="padding-left" id="correction_give" onclick="OnClickСorrectionDisplay('visible_correction_<%= ans.id %>')">Предложить правку</a>
<% end %>
</div>
