// Place all the styles related to the Question controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button{
  text-decoration: none;
  color: white;
  background-color: #3898EC;
  padding: 9px 15px;
  border: 0;
}

.text_field {
  border: 1px solid #ccc;
  width: 100%;
  &:active{
    border: 1px solid #3898EC;
  }
}